__pycache__/
.ipynb_checkpoints/
*.ipynb
example.py
Deprecated/
toy.py
tests_analysis.py
examples/Silq_Programs/.ast/*
examples/Silq_Programs/.hash/*
examples/Silq_Programs/.obl/*
examples/todo/*
logs/*.logs
.VSCodeCounter/